body {
    font-family: 'Open Sans', sans-serif;
}
.how__it__works{
    background: url(./assets/section_men-1\ 1.png);
    opacity: 0.8;
}
.border-pink{
    border: 3px solid #EE2B7A;
}
.testimonial,
.news{
    background-color: #ebe6e6;
}
.btn-pink{
    background-color:#EE2B7A ;
}